doctype
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(rel='stylesheet' href='/main.css')
    title Chat
  body
    form#home(method='POST' action='/')
      input#roomid(hidden name='roomid' value=roomid)
      input#username(name='username' placeholder='Username')
      button#connect Connect
